input{
  width: 100%;
  border-radius: 5px;
}

.itemBox{
  display: flex;
}

.product-list{
  width: 70%;
}

.card-list{
  display: flex;
}

.card-width{
  width: 12rem;
}

.price{
  background-color: #eee;
  height: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.shopping{

}