input{
  width: 100%;
  border-radius: 5px;
}

.itemBox{
  display: flex;
}

.product-list{
  width: 75%;
}

.card-list{
  display: flex;
}

.card-width{
  width: 12rem;
}

.price{
  background-color: #eee;
  height: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.shopping{
  width: 100%;
}

.shopping-box{
  width: 100%;
}

.drop-place{
  width: 90%;
  height: 100px;
  background-color: black;
  margin-top: 10px;
  margin-left: 15px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  line-height: 100px;
}

.total{
  text-align: right;
}

.decision{
  width: 100%;
}