.hidden{
  display: none;
}

input{
  width: 100%;
  border-radius: 5px;
}

.itemBox{
  display: flex;
}

.product-list{
  min-width: 800px;
}

.card-list{
  display: flex;
}

.card-width{
  width: 12rem;
}

.price{
  background-color: #eee;
  height: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.shopping{
  width: 100%;
}

.shopping-box{
  width: 100%;
  min-width: 300px;
}

.drop-place{
  width: 90%;
  height: 150px;
  background-color: black;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  line-height: 150px;
}

.decision{
  width: 100%;
}

.shoppingCard{
  margin-left: 15px;
  width: 90%;
  margin-bottom: 10px;
  height: 200px;
  border-radius: 5px;
  display: flex;
}

.shoppingImg{
  width: 40%;
  height: 100%;
  background-color: #eee;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  
}

.shoppingImg img{
  width: 100%;
  margin-top: 50%;
  max-width: 150px;
}

.shoppingInfo{
  box-sizing: border-box;
  padding-left: 10px;
}

.product-count{
  display: flex;
  position: absolute;
}

.count-info{
  background-color: #eee;
}

.product-count input{
  position: relative;
  width: 100px;
  height: 25px;
}

.product-total{
  margin-top: 40px;
}

.total{
  text-align: right;
}

.buy-button{
  width: 100%;
}

.fa-times{
  margin-left: 30px;
  cursor: pointer;
  font-size: 20px;
}

.receipt{
  border: 2px solid #eee;
  width: 500px;
  background-color: #fff;
  position: absolute;
  top: 100px;
  left: 35%;
}

#canvas{
  overflow: scroll;
}

.close{
  margin-left: 30px;
}